#banner {
	position: fixed;
	min-width: 230px;
	max-width: 100%;
	bottom: 50px;
	padding: 8px 130px 8px 15px;
	z-index: 112; /* #banner > #loader > # #keyboard > #infoOverlay */
	background: linear-gradient( to right, var( --cm ) calc( 100% - 100px ), rgba( 0,0,0,0 ) 100% );
}
#bannerTitle,
#bannerMessage {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#bannerTitle {
	font-size: 18px;
	font-weight: 300;
}
#bannerTitle,
#banner .li2,
#banner .time {
	color: var( --cw );
}
#bannerTitle i {
	width: 20px;
	height: 23px;
	margin-right: 5px;
	text-align: center;
}
#bannerTitle .iconimg {
	margin-left: 0;
	vertical-align: -5px;
}
#bannerMessage {
	font-size: 16px;
}
#bannerTitle i {
	color: #000000;
}
#bannerMessage,
#banner .time,
#banner .li2 {
	color: var( --cga ) !important;
}
#banner .time {
	margin-left: 10px;
}
#banner .li1,
#banner .li2 {
	display: block;
}
#banner .li2 {
	font-size: 13px;
}
